<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сonfirmation</title>
</head>
<body>
<div class="body_conf">
    <div class="container">
        <div class="row">
            <div class="col 12">
                <div class="items_app">
                    <div class="form_app">
                        <span class="name_app">RAMZES</span>
                        <div class="items_comp_conf">
                            <img src="../assets/asset5.png" alt="photo-complete">
                            <div class="text_conf1">
                                Благодарим Вас за использование услуг нашего клуба!
                            </div>
                        </div>
                        <div class="text_conf2"><u>На вашу почту было отправлено сообщение на подтверждение оплаты.</u>
                        </div>
                        <div class="item_btn_conf">
                            <form action="../templates/home.html">
                                <button class="btn_conf">Вернуться в главное меню</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="../css/style.css">
</body>
</html>